body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/609/452/original/frozen-strawberry-popsicles-seamless-pattern-summer-ice-lolly-in-flat-style-wallpaper-pink-ice-cream-backdrop-vector.jpg');
    background-size: 512px;
}

#body {
    background-color: white;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 10px 18px #888888;
}

* {
    touch-action: manipulation;
}

button {
    width: 50px;
    height: 25px;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#watermelon {
    color: palevioletred;
}

#rootbeer {
    color: brown;
}

#cherry {
    color: red;
}

#pretzel {
    color: rgb(102, 45, 1);
}

.flavors {
    display: inline-table;
    padding: 10px;
    padding-top: 0px;
}
