body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(“IMG_4074.jpeg”);
}


* {
    touch-action: manipulation;
}

button {
    width: 50px;
    height: 25px;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#watermelon {
    color: pink;
}

#rootbeer {
    color: brown;
}

#cherry {
    color: red;
}

#pretzel {
    color: rgb(102, 45, 1);
}

.flavors {
    display: inline-table;
    padding: 10px;
    padding-top: 0px;
}
